// import { px2vw } from /\/"@/utils/style";
// import { styled } from "solid-styled-components";

.px2vw(@px, @width: 375) {
  @var: (@px / @width) * 100;
  @vw: ~"@{var}vw";
}

.dialog-container {
  width: .px2vw(271)[@vw];
  background: #FFFFFF;
  border-radius: 4px;

  .title-container {
    padding: .px2vw(23)[@vw] .px2vw(16)[@vw] .px2vw(29)[@vw];
    font-family: PingFangSC-Regular, PingFang SC;
    text-align: center;

    .title {
      font-size: .px2vw(18)[@vw];
      color: #000000;
      line-height: .px2vw(25)[@vw];
    }

    .desc {
      font-size: .px2vw(13)[@vw];
      color: #999999;
      line-height: .px2vw(19)[@vw];
      margin-top: .px2vw(16)[@vw];
    }
  }

  .action {
    border-top: 1px solid #E6E6E6;
    display: flex;

    .btn {
      flex-basis: 1;
      flex-grow: 1;
      text-align: center;
      padding: .px2vw(16)[@vw] 0 .px2vw(13)[@vw];
      font-size: .px2vw(15)[@vw];
      font-family: PingFangSC-Regular, PingFang SC;
      line-height: .px2vw(21)[@vw];
      background: #ffffff;

      &.close {
        color: #000000;
      }

      &.confirm {
        color: #CB9875;
      }
    }

    .separator {
      width: 1px;
      align-self: stretch;
      background: #E6E6E6;
      margin-bottom: .px2vw(4)[@vw];
    }
  }
}
